<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Your Profile</title>
  <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
  <div class="container">
    <h1>Welcome! Let's create your profile</h1>
    <p>Let others get to know you better! You can do these later</p>
    <div class="avatar-section">
      <h2>Add an avatar</h2>
      <div class="avatar-container">
        <img src="" id="avatarPreview">
        <button id="chooseImageBtn">Choose image</button>
      </div>
      
    </div>
    <div class="location-section">
      <h2>Add your location</h2>
      <input type="text" id="locationInput" placeholder="Enter a location">
    </div>
    <a href="cards.html"><button id="nextBtn">Next</button></a>
  </div>
  <script src="/js/profile.js"></script>
</body>
</html>